a.fb-message-blue {
  font-size: 14px;
  font-family: 'Roboto', sans-serif !important;
  text-decoration: none;
  color: #fff;
  background-color: #0084ff;
  border: 1px solid #0084ff;
  width: 140px;
  height: 35px;
  line-height: 35px;
  position: fixed;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all ease .15s;
  -o-transition: all ease .15s;
  -moz-transition: all ease .15s;
  transition: all ease .15s;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.22);
  bottom: 16px;
  right: 16px; }
  a.fb-message-blue:hover {
    background-color: #2093ff;
    border: 1px solid #2093ff;
    transform: scale(1.1); }
  a.fb-message-blue i {
    background-image: url("https://i.imgur.com/hjwozo7.png");
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 10px 9px;
    top: -1px;
    height: 18px;
    width: 100%;
    padding: 10px 18px; }
