@media screen and (min-width: 992px) {
    .avatar {
        position: fixed;
        top: 20%;
        z-index: 99999;
        #avatar-body {
            float: left;
            clear: both;
        }
        #div-button {
            float: right;
            margin-left: -1px;
        }
        .avatarShow {
            display: block ;
        }
        .avatarUnshow {
            display: none;
        }
        .avatarRight {
            position: fixed;
            top: 20%;
            right: 0;
            z-index: 5;
        }
        .bodyInRight {
            float: right !important;
        }
        .buttomInRight {
            float: left;
        }
        #avatar-button {
            border: none;
            height: 40px;
            &:hover{
                cursor: pointer;
            }
            &:active {
                outline: none;
                border: none;
            }
            &:focus {
                outline: none;
                background-color: #e1e1e1;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .avatar {
        display: none;
    }
}

.favicon-giulia {
    width: 35px;
    vertical-align: middle;
}

#mini-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 40px;
}

.giulia-link {
    text-decoration: none;
    color: #aeaeae;
    font-size: 14px;
    font-weight: 3000;
}