<link rel='stylesheet' href='/styles/css/fale-conosco.css' media="screen,projection" />

<a class="fb-message-blue hide-on-med-and-down" href="https://www.messenger.com/t/1724928191130116/" target="_blank">
    <i></i> Fale conosco
</a>