<section class="midias-sociais">
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col s12 m12 l4 center-align">
                <a href="https://bit.ly/AppGiulia" target="_blank" title="Baixe o aplicativo do Giulia aqui!">
                    <img class="responsive-img google-play" src="images/icons/googleplay.png" alt="Google Play">
                </a>
            </div>
            <div class="col s12 m4 offset-m4 valign-wrapper center-align hide-on-med-and-down">
                <div class="col s12">
                    <a href="https://medium.com/plataforma-giulia" target="_blank" title="Leia nossas matérias!">
                        <img class="responsive-img medium" src="/images/icons/medium.png" alt="Medium">
                    </a>
                </div>
                <div class="col s12">
                    <a href="https://www.youtube.com/channel/UCj-menqWD7J63bt0Re3H6ig" target="_blank" title="Conheça nosso canal!">
                        <img class="responsive-img youtube" src="/images/icons/youtube.png" alt="Youtube">
                    </a>
                </div>
                <div class="col s12">
                    <a href="https://www.facebook.com/projetogiulia/" target="_blank" title="Curta nossa fanpage!">
                        <img class="responsive-img facebook" src="/images/icons/facebook.png" alt="Facebook">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>