<!DOCTYPE html>
<html>
<head>
    <meta chartset="UTF-8">
        <meta name="description" content="Mais que um simples tradutor, uma plataforma de comunicação para surdos.">
	    <meta name="keyword" content="Giulia, Aplicação pra surdos, Tradutor de libras, Projeto Giulia, Manuel Cardoso, Map Innovation, Map, Innovation, projetogiulia, Surdo, Libras, Alerta, Comunicação dos surdos, Acessibilidade, Aplicativo Giulia, Mãos que falam, Tecnologia assistiva, Escola, Sinais, Linguagem">
        <title><%= title %></title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/styles/css/materialize.css" media="screen,projection" />
        <link rel="stylesheet" href="/styles/css/cdc.css" media="screen,projection" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/x-icon" href="/images/giulia.png"/>
        <script src="/lib/jquery.min.js"></script>
        <script src="/lib/materialize.min.js"></script>
        <script src="/scripts/collapsible.js"></script>
        <script src="/scripts/cdc.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="row">
                <h1 class="center-align">Giulia - Código de Defesa do Consumidor</h1>
            </div>
            <div class="row">
                <div class="col l4 m4">
                    <div class="container">
                        <div class="avatar">
                            <div id="mini-bar"><img src="/images/giulia.png" class="favicon-giulia"> <a href="/" class="giulia-link">www.projetogiulia.com.br</a></div>
                            <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="400px" width="200px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col l8 m8">
                    <div class="row principal">
                        <div class="container center-align">
                            <div class="row">Lei nº 8.078, dia 11 mês setembro ano 1990</div>
                            <div class="row">Comprador proteger também vários evitar explicar</div>
                            <div class="row">Congresso Nacional Lei decidir, eu Presidente da República Lei aprovar:</div>
                            <div class="row">Título 1</div>
                            <div class="row">Comprador Direitos</div>
                        </div>
                    </div>
                    <div class="row informacoes">
                        <ul class="collapsible principal" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">list</i>Capítulo 1 - Obrigações gerais</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="row">
                                            Art.1º Comprador proteger Brasil Lei regras ter, sociedade justiça ter ajudar, Arts.5º, inciso 32 (XXXII), 170, inciso V aplicando Constituição Federal também Normas Temporárias (Disposições Transitórias) Art. 48.
                                        </div>
                                        <div class="row">
                                            Art.2ºConsumidor é pessoa física ou jurídica material ou trabalho comprar ter.
                                        </div>
                                        <div class="row">
                                            Parágrafo único. Pessoas objeto ou trabalho compra ou usa, pessoas conhecer não tanto faz direitos igual comprador aplica.
                                        </div>
                                        <div class="row">
                                            Art.3ºPessoa ou empresa pública ou particular, Brasil pertencer ou país outro pertencer, empresa registrada legalizada não mas trabalhar objeto fazer, montar, criar, construir, importar ou exportar, objetos ou trabalho empresa distribuir ou divulgar, aplica palavra Fornecedor ou empresa.
                                            <p>§1ºProduto é material vários.</p>
                                            <p>§2º Trabalho profissional fazer comprador dinheiro pagar precisar aplicar palavra serviço, Empresa trabalhar comprador pagar usar banco, crédito, dinheiro proteger seguro, aplicar relação trabalhar.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="collapsible principal" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">list</i>Capítulo 2 - Política Nacional Empresa Comprador Relação</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="row">
                                            Art.4º Política Nacional trabalho principal Comprador ajudar, direitos respeitar, saúde, segurança, comprador dinheiro gastar menos ajudar, vida melhorar, empresa comprador relação clara certa, aplicando regras várias ter:
                                            <p>*Caput art.7º, Lei nº 9.008, dia 21 mês 03 ano 95 redação afirmar (determinar).</p>
                                            <span>
                                                <ol class="lista-roman">
                                                    <li>Comprador sozinho direitos proteger não consegue.</li>
                                                    <li>
                                                        Comprador direitos proteger governo ajudar precisa:
                                                        <ol class=lista-latin>
                                                            <li>Comprador direitos ajuda tanto faz pedir ou não, governo proteger ajudar obrigação ter;</li>
                                                            <li>Associações comprador representar criação progresso incentivar;</li>
                                                            <li>População comprar pode (mercado de consumo) Estado junto precisa;</li>
                                                            <li>Objetos ou trabalho fazer empresa pertence, governo pesquisar bom ou não julgar, segurança, usar conseguir característica boa, governo ajudar precisa;</li>
                                                        </ol>
                                                    </li>
                                                    <li>Empresa comprador desejos concordar também comprador proteger junto economia, tecnologia progredir concordar, regras pertence economia fácil obedecer ajudar, empresa comprador relação boa ter dá.</li><li>Empresa também comprador direitos Lei manda vários explicar ensinar precisar, vender comprar relação melhorar ajudar.</li>
                                                    <li>Empresa objetos ou trabalho característica boa ou não pesquisar julgar importante precisa também empresa comprador discordar acontecer, problema solução encontrar, incentivar precisa, relação melhorar ajudar.</li>
                                                    <li>Comprador direitos ir contra evitar ajudar também objeto empresa copiar fazer falso ou empresa nome empresa nome copiar Lei proibir, comprador enganar não pode.</li>
                                                    <li>Estado trabalho dinheiro desperdiçar evitar.</li>
                                                    <li>Lugar vender comprar relação (mercado de consumo) mudanças várias ter estudar sempre.</li>
                                                </ol>
                                            </span>
                                        </div>
                                        <div class="row">
                                            Art.5º Política Nacional Empresa Comprador Relação (Política Nacional das Relações de Consumo) trabalhar conseguir, poder público (legislativo, judiciário, executivo) pode:
                                            <ol class="lista-roman">
                                                <li>Comprador pobre Assistência Jurídica de graça ajudar precisa</li>
                                                <li>Ministério Público dentro Promotorias de Justiça Comprador Proteger (promotorias de justiça de defesa do consumidor) ter precisa;</li>
                                                <li>Casa polícia trabalho principal Comprador direitos ajudar, criar precisa;</li>
                                                <li>Juizados Especiais trabalho problema simples resolver ajudar ou problemas resolver faltar, Varas Especializadas criar importante.</li>
                                                <li>Comprador proteger associação criação progresso incentivar concordar precisa.</li>
                                            </ol>
                                            <p>§1º (Negado).</p>
                                            <p>§2º (Negado).</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="collapsible principal" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">list</i>Capítulo 3 - Comprador Direitos Básicos</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="row">Art.6º Comprador Direitos Básicos:
                                            <ol class="lista-roman">
                                                <li>Objetos ou trabalhos Empresa fazer perigos ter, Comprador saúde segurança proteger precisa;</li>
                                                <li>Objetos ou trabalhos uso, cuidados, Empresa ensinar divulgar precisar, comprador escolher livre pode também trabalho contrato igualdade ter precisa;</li>
                                                <li>Objetos ou trabalhos, quantidade descrever, características, composição, material bom ou não, impostos, preço, perigos ter, explicar claro precisa;
                                                    <p>*Inciso III Lei nº 12.741, dia 08 mês 12 ano 2012 acrescentar.</p>
                                                </li>
                                                <li>Comprador objeto ou trabalho divulgação enganar também objeto ou trabalho papel errado confuso comprador enganar direitos ir contra, evitar ajudar;</li>
                                                <li>Papel contrato empresa conteúdo mudar depois comprador pagar pesado precisar, evitar ajudar;</li>
                                                <li>Comprador empresa direitos ir contra depois comprador família ou pessoas outras junto saúde problemas ou dinheiro perder acontecer, evitar ajuda;</li>
                                                <li>Órgãos judiciários administrativos(financeiros) trabalhar comprador dinheiro perder, moral ofendida problemas corrigir ajudar, comprador livre entrar direito ter, aplicando pessoa uma ou pessoas grupo, comprador Lei proteger certo ajudar várias precisar;</li>
                                                <li>Comprador dependente ou explicação juiz aceitar aplicando regras comuns, Comprador direitos proteger fácil conseguir aplicando reunião jugar comprador culpa não ter provar precisar não;</li>
                                                <li>(Negado);</li>
                                                <li>Cidadãos Estado trabalhar certo ajudar de verdade precisar;</li>
                                            </ol>
                                        </div>
                                        <div class="row">Parágrafo único. Pessoa deficiente Caput artigo 6º inciso III explicação saber direito ter, normas aplicar. (Lei nº 13.146 ano 2015)</div>
                                        <div class="row">Art.7ºLegislação interna ordinária, autoridades responsável administrar também direitos gerais regulamento responsável enviar Brasil documento assinar responsável países outros regras acordo ter, Lei Comprador direitos proteger, direitos acordos outros pertencer cancelar não.</div>
                                        <div class="row">Parágrafo único. Comprador direitos pessoa uma ou pessoas muitas ir contra tanto faz cada um ir contra ter responsável problema resolver corrigir precisa.</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="collapsible principal" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">list</i>Capítulo 4 - Materiais Trabalho Qualidade, Defeito Evitar ou Corrigir</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="row"><span class="center-align"><p>SEÇÃO I<br>Saúde Segurança Ajudar</p></span>
                                            <p>Art.8º Objeto ou trabalho empresa saúde ir contra ou perigos ter vender não pode mas depende objeto ou trabalho característica dele perigo ter, comprador empresa explicar claro precisa.</p>
                                            <p>Parágrafo único. Papel art.8º explicação ter objeto ou comida empresa pertence fazer, papel junto ter precisar.</p>
                                            <p>Art.9º Objetos ou trabalhos saúde ruim pode ou perigos problemas outros ter empresa perigo forte explicar claro certo divulgar precisa.</p>
                                            <p>Art.10º Produto ou trabalho perigo forte ter empresa perigos saber ou não tanto faz objeto ou trabalho vender não pode.</p>
                                            <p>§1º Objetos ou trabalho perigo forte ter empresa saber, objeto ou trabalho vender começar antes autoridade responsável também compradores empresa rápido avisar alertar precisar.</p>
                                            <p>§2º Rádio, televisão, internet divulgar objetos ou trabalhos perigos ter empresa pagar precisar.</p>
                                            <p>§3º União, Estados, Distrito Federal também Municípios, objetos ou trabalhos perigos ter sabe divulgar precisar.</p>
                                            <p>Art.11. (Negado).</p>
                                        </div>
                                        <div class="row"><span class="center-align"><p>Seção II<br>Produto ou Trabalho Defeito Responsabilidade</p></span>
                                            <p>Art.12º Projeto errado, fabricar, construir, montar, fórmula, manipular, apresentar ou objeto guardar errado, perigos explicar faltar depois comprador problemas, empresa, produtor, construtor, Brasil pertence ou país outro pertence culpa ter ou não tanto faz responsabilidade ter.</p>
                                            <p>§1º Objeto perigo não ter precisa mas perigo ter objeto defeito aplicar, depende defeitos problemas forte:
                                                <ol class="lista-roman">
                                                    <li>Apresentar;</li>
                                                    <li>Perigos característica pertence;</li>
                                                    <li>Dia começar vender distribuir;</li>
                                                </ol>
                                            </p>
                                            <p>§2º Empresa objeto material caro melhor faze, empresa outra objeto igual fazer mas material inferior objeto defeito aplica não.</p>
                                            <p>§3º Homem responsável fabricar, construir, produzir, importar, culpa responsabilidade não ter provar precisar:
                                                <ol class="lista-roman">
                                                    <li>Objeto vender distribuir responsável não;</li>
                                                    <li>Objeto vender distribuir responsável mas objeto defeito não ter;</li>
                                                    <li>Comprador ou pessoas outras culpa ter;</li>
                                                </ol>
                                            </p>
                                            <p>Art.13º Artigo 12º Pessoa vender responsabilidade igual tem si:
                                                <ol class="lista-roman">
                                                    <li>Pessoa responsável fabricar, construir ou importar identidade não conseguir;</li>
                                                    <li>Pessoa fabricar, construir ou material país outro pertencer empresa comprar, objeto identidade clara não ter;</li>
                                                    <li>Comida guardar certo não ter;</li>
                                                </ol>
                                            </p>
                                            <p>Parágrafo único. Comprador pessoa vender culpa não ter mas dinheiro devolver aceitar responsável culpa ter ir contra pode.</p>
                                            <p>Art.14 Empresa trabalho oferecer problemas defeitos ter ou explicar errado ou explicação clara faltar, ter ou não tanto faz comprador problema resolver ou dinheiro devolver empresa responsabilidade ter.</p>
                                            <p>§1º Empresa trabalho seguro precisa mas perigos segurança não ter aplica trabalho defeito mas depende:
                                                <ol class="lista-roman">
                                                    <li>Produzir como;</li>
                                                    <li>Trabalho objetivo certo conseguir, trabalho perigos características pertence ter;</li>
                                                    <li>Oferecido dia qual;</li>
                                                </ol>
                                            </p>
                                            <p>§2ºTrabalho empresa fazer objetivo conseguir depois empresa outra trabalho igual mas fazer diferente, empresa trabalho antigo defeito aplica não;</p>
                                            <p>§3º Produtor culpa não ter, provar precisar:
                                                <ol class="lista-roman">
                                                    <li>Trabalho empresa responsabilidade ter mas trabalho defeito não ter.</li>
                                                    <li>Comprador ou pessoas outras culpa ter.</li>
                                                </ol>
                                            </p>
                                            <p>§4º Pessoa empresa pertence trabalho fazer culpa responsabilidade ter, pesquisar precisar.</p>
                                            <p>Art.15. (Negado).</p>
                                            <p>Art.16. (Negado).</p>
                                            <p>Art.17.Seção II objeto ou trabalho empresa pertence fazer pessoas comprar também família usar depois problemas ter aplica direitos igual comprador.</p>
                                        </div>
                                        <div class="row">
                                            <span class="center-align"><p>SEÇÃO III<br>Objeto Trabalho Defeito Responsabilidade</p></span>
                                            <p>Art.18 Objeto ou comida empresa fazer pertence, objeto ou comida defeito, divulgar errado depois comprador saúde ruim ou dinheiro perder, empresa defeito responsabilidade ter, objeto ou comida defeito substituir pedir comprador pode.</p>
                                            <p>§1º Objeto ou comida defeito problema resolver não conseguir até 30 dias, comprador escolher pode:
                                                <ol class="lista-roman">
                                                    <li>Objeto defeito objeto outro perfeito defeito não ter substituir pedir pode;</li>
                                                    <li>Dinheiro de volta pedir pode;</li>
                                                    <li>Valor diminuir pedir pode;</li>
                                                </ol>
                                            </p>
                                            <p>§2º Problema resolver prazo aumentar ou diminuir empresa junto comprador conversar decidir pode mas problema resolver querer sete dias somar não ter ou 180 mais não pode. Papel contrato empresa fazer responsável problema resolver prazo combinar comprador responsável pedir pode.</p>
                                            <p>§3ºObjeto material defeito material outro substituir mas depois objeto característica mudar defeito piorar, objeto valor diminuir ou comprador objeto faltar não poder, §1º opções escolher comprador pode;</p>
                                            <p>§4ºComprador inciso I §1º artigo 18 escolher, objeto substituir impossível, objeto defeito, objeto empresa outra pertence ou marca outra substituir ou valor diminuir pedir pode, inciso II também III §1º pertence obrigações aplicar não.</p>
                                            <p>§5º Comida empresa oferecer empresa responsabilidade ter mas produtor identidade clara ter empresa culpa responsabilidade não ter.</p>
                                            <p>§6º Usar ou comprar não pode:
                                                <ol class="lista-roman">
                                                    <li>Comidas comer prazo acabar ter;</li>
                                                    <li>Objetos ou comidas falsas, roubadas, saúde ruim, perigo ter ou objeto distribuir ou apresentar empresa Lei obedecer não ter;</li>
                                                    <li>Objetos defeito usar não conseguir;</li>
                                                </ol>
                                            </p>
                                            <p>Art.19 Objeto quantidade empresa colocar errada objeto dentro líquido menos ter ou quantia errada divulgar, empresa responsabilidade ter, comprador escolher pode:
                                                <ol class="lista-roman">
                                                    <li>Preço valor diminuir;</li>
                                                    <li>Peso ou medida certo complementar;</li>
                                                    <li>Objeto defeito objeto outro igual defeito não mas marca ou modelo diferente substituir;</li>
                                                    <li>Comprador dinheiro de volta ter;</li>
                                                </ol>
                                            </p>
                                            <p>§1º §4º explicar ter artigo 18 aplicar;</p>
                                            <p>§2º Objeto peso regras obedecer não ter, empresa responsabilidade ter;</p>
                                            <p>Art.20 Trabalho característica defeito ter, valor diminuir, objeto divulgação enganar, objeto característica defeito empresa responsabilidade ter, comprador direito escolher ter:
                                                <ol class="lista-roman">
                                                    <li>Empresa trabalho de novo fazer comprador pedir pode mas pagar de novo precisar não;</li>
                                                    <li>Comprador dinheiro de volta ter;</li>
                                                    <li>Preço valor diminuir;</li>
                                                </ol>
                                            </p>
                                            <p>§1º Trabalho pessoas outras fazer de novo empresa mandar, empresa trabalho perigos também pessoas trabalho empresa pagar responsabilidade ter;</p>
                                            <p>§2ºComprador empresa trabalho ajudar de verdade não ter também comprador empresa atender regras obedecer não ter, trabalho certo aplica não;</p>
                                            <p>Art.21 Trabalho objetivo problema corrigir, objeto ou material defeito original novo empresa substituir obrigação ter.</p>
                                            <p>Art.22 Oferecer trabalho certo, seguro, comprador trabalho ajudar de verdade, Estado ou empresas Estado pertencer, obrigação ter.</p>
                                            <p>Parágrafo único. Regras Art.22. Empresa obedecer não ter ou regras algumas obedecer faltar, problemas corrigir também Lei obedecer obrigação ter.</p>
                                            <p>Art.23 Objeto ou trabalho defeito empresa tanto faz saber ou não responsabilidade ter.</p>
                                            <p>Art.24 objeto ou trabalho certo defeito não ter empresa obrigar lei garantir, empresa contrato cancelar negar.</p>
                                            <p>Art.25 Contrato mudar objetivo comprador empresa dinheiro devolver menos ou comprador empresa dinheiro devolver nada não pode.</p>
                                            <p>§1º Empresa uma ou várias culpa ter tanto faz comprador problema resolver corrigir responsabilidade ter.</p>
                                            <p>§2ºObjeto ou trabalho material defeito, empresa culpa responsabilidade ter.</p>
                                        </div>
                                        <div class="row"><span class="center-align"><p>SEÇÃO IV<br>Norma Queda Ter</p></span>
                                            <p>Art.26 Defeito fácil perceber conseguir dá comprador reclamar pode:
                                                <ol class="lista-roman">
                                                    <li>Materiais duráveis nada defeito comprador até 30 dias reclamar pode;</li>
                                                    <li>Materiais duráveis defeito comprador até 90 dias reclamar pode;</li>
                                                </ol>
                                            </p>
                                            <p>§1º Material comprador empresa entregar prazo dias somar começar.</p>
                                            <p>§2º Queda evitar:
                                                <ol class="lista-roman">
                                                    <li>Empresa Comprador reclamar também resposta ruim prova verdadeira ter precisar;</li>
                                                    <li>(Negado);</li>
                                                    <li>Investigar Começar ter até problema resolver;</li>
                                                </ol>
                                            </p>
                                            <p>§3ºDefeito escondido comprador encontrar, problema resolver prazo começar.</p>
                                            <p>Parágrafo único. (Negado).</p>
                                        </div>
                                        <div class="row"><span class="center-align"><p>SEÇÃO V<br>Empresa direito perder</p></span>
                                            <p>Art.28 Comprador direitos empresa ir contra, lei ou contrato obedecer não ter ou empresa dinheiro acabar ou diretor responsável errar empresa trabalho continuar não conseguir, empresa direito perder juiz decidir pode.</p>
                                            <p>§1º(Negado).</p>
                                            <p>§2º Empresa pessoas grupo ou empresa responsável outro mandar, lei comprador direito obrigações obedecer precisar.</p>
                                            <p>§3º Empresa, empresa outras união ter, lei comprador direito empresa obedecer obrigação ter.</p>
                                            <p>§4º Empresa Principal empresa outra união também culpa responsabilidade ter.</p>
                                            <p>§5º Comprador problema resolver ou direitos empresa ir contra, empresa direito perder pode.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="collapsible principal" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">list</i>Capítulo 5 - Vender Comprar Relação</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="row"><span class="center-align"><p>SEÇÃO I<br>Regras Gerais</p></span>
                                            <p>Art.29.Objeto ou trabalho pessoas tanto faz identidade saber ou não objeto ou trabalho usar ou comprar depois problemas ter capítulo V aplicar, comprador comparar pode.</p>
                                        </div>
                                        <div class="row"><span class="center-align"><p>SEÇÃO II<br>Oferecer</p></span>
                                            <p>Art.30. Rádio, Televisão, Internet empresa objeto ou trabalho divulgar, contrato obedecer empresa obrigação ter.</p>
                                            <p>Art.31. Objeto ou trabalho empresa oferecer divulgar, característica, composição, preço, comprador garantia também perigo explicar claro língua portuguesa aplicar certa, empresa obrigação ter.</p>
                                            <p>Parágrafo único. Material guardar junto gelo precisar, material art.31 conteúdo gravar forte apagar difícil precisar.</p>
                                            <p>*Parágrafo único. Lei nº 11.989 dia 27 mês 07 ano 2009 explicação mais colocar.</p>
                                            <p>Art.32.Empresa material ter então material substituir empresa oferecer continuar precisar.</p>
                                            <p>Parágrafo único. Material fazer ou comprar empresa parar, material oferecer continuar pode si lei concordar.</p>
                                            <p>Art.33. Telefone ou correio dinheiro comprador devolver precisar, material oferecer ou divulgar, empresa nome, lugar número material ter precisar.</p>
                                            <p>Parágrafo único. Telefone empresa material divulgar mas comprador ligação pagar precisar, material empresa divulgar lei proibir.</p>
                                            <p>*Lei nº 11.800, dia 29 mês 10 ano 2008 parágrafo único colocar.</p>
                                            <p>Art.34. Diretor ou pessoas trabalhar pessoal mas empresa união, erros ou problemas empresa responsabilidade ter.</p>
                                            <p>Art.35. Material divulgação empresa obedecer não quer, comprador escolher pode:
                                                <ol class="lista-roman">
                                                    <li>Divulgação empresa obedecer comprador obrigar pode;</li>
                                                    <li>Material substituir ou trabalho empresa de novo fazer comprador aceitar pode;</li>
                                                    <li>Contrato cancelar também comprador dinheiro de volta receber aceitar pode;</li>
                                                </ol>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>