<!DOCTYPE html>
<html>
    <head>
        <meta chartset="UTF-8">
        <meta name="description" content="Mais que um simples tradutor, uma plataforma de comunicação para surdos.">
	    <meta name="keyword" content="Giulia, Aplicação pra surdos, Tradutor de libras, Projeto Giulia, Manuel Cardoso, Map Innovation, Map, Innovation, projetogiulia, Surdo, Libras, Alerta, Comunicação dos surdos, Acessibilidade, Aplicativo Giulia, Mãos que falam, Tecnologia assistiva, Escola, Sinais, Linguagem">
        <title><%= title %></title>
        <link rel='stylesheet' href='/styles/css/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    </body>
</html>
